<!DOCTYPE html>
<html lang="en">
<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'style.css'%}">
    <link rel="icon" href="{% static 'images/icon.ico'%}" >
    <title>Idriss Benfanich </title>



</head>
<body>

    <header>
        <a href="#" class="logo">welcome</a>
        <nav class="navigation">
            <a href="#services">Services</a>
            <a href="#projects">Projects</a>
            <a href="#contact">Contact</a>
        </nav>
    </header>


    <section class="main">
        <div>
            <h2>Hello, Je suis Idriss Benfanich <br><span> Etudiant Ecole Supérieure de Technologie - El Kelaa Des Sraghna</span></h2>
            <h3>En tant qu'étudiant en première année en ingénierie des données, je suis passionné par le potentiel des données pour résoudre des problèmes complexes et créer des solutions innovantes. 
                Actuellement à la recherche d'un stage, je suis motivé à développer mes compétences pratiques dans le domaine de l'analyse et du traitement des données.
                 Mon objectif est de mettre en pratique les connaissances théoriques acquises au cours de mes études tout en apprenant de nouvelles techniques et technologies pour relever les défis du monde réel.</h3>
            <a href="#projects" class="main-btn">View mes projet personnels</a>
            <div class="social-icons">
                <a href="https://www.facebook.com/share/X3czgAntBT7npmJ1/?mibextid=dGKdO6"><i class="fab fa-facebook" style="color: #0156be;"></i></a>
                <a href="#"><i class="fab fa-twitter" style="color: #4e9eff;"></i></a>
                <a href="https://www.instagram.com/idriss__bnf?igsh=MTd5cXl1d2M2bnJ4eg%3D%3D&utm_source=qr"><i class="fab fa-instagram" style="color: deeppink;"></i></a>
                <a href="https://wa.me/qr/RJX7SXREUWZAM1"><i class="fab fa-whatsapp" style="color: rgb(3, 185, 76);"></i></a>
            </div>
        </div>
    </section>

    <section class="cards" id="services">
        <h2 class="title">Services</h2>
        <div class="content">
            <div class="card">
                <div class="icon">
                    <i class="fas fa-pen"></i>
                </div>
                <div class="info">
                    <h3>Analyse de données et Nettoyage de données</h3>
                    <p>Capacité à extraire des informations significatives à partir de jeux de données complexes en utilisant des techniques d'analyse statistique et des outils informatiques pour identifier des tendances, des corrélations et des modèles cachés.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="icon">
                    <i class="fas fa-eye"></i>
                </div>
                <div class="info">
                    <h3>Visualisation de données</h3>
                    <p>Maîtrise de la création de représentations visuelles claires et informatives de données complexes à l'aide d'outils de visualisation tels que Matplotlib, Seaborn, Tableau, etc., pour faciliter la compréhension des tendances et des modèles par les parties prenantes.</p>
                </div>
            </div>
            <div class="card">
                <div class="icon">
                    <i class="fas fa-database"></i>
                </div>
                <div class="info">
                    <h3>Optimisation des bases de données</h3>
                    <p> Capacité à concevoir et à mettre en œuvre des stratégies d'optimisation pour améliorer les performances des bases de données en termes de vitesse, d'efficacité et de gestion des ressources, en utilisant des techniques telles que l'indexation, la dénormalisation, le partitionnement, etc.</p>
                </div>
            </div>
        </div>
       

    </section>

    <section class="projects" id="projects">
        <h2 class="title">Projects</h2>
        <div class="content">
            <div class="project-card">
                <div class="project-image">
                    <img src="/static/images/test1.jpg" />
                </div>
                <div class="project-info">
                    <p class="project-category">J'ai développé une application qui permet de gérer une classe d'étudiants en s'appuyant sur une base de données relationnelle. Cette application offre plusieurs fonctionnalités essentielles </p>
                    <strong class="project-title">
                        <span></span>
                        <a href="#" class="more-details">More details</a>
                    </strong>
                </div>
            </div>
            <div class="project-card">
                <div class="project-image">
                    <img src="images/work2.jpg" />
                </div>
                <div class="project-info">
                    <p class="project-category">Je me suis engagé à exploiter les données scientifiques du Professeur Hakim EL MASSARI, collectées à partir de la base de données transdisciplinaire SCOPUS. Pour ce faire, j'ai suivi un processus en trois étapes : • Collecter les données.
                        • Analyser et nettoyer les données.
                        • Visualisation des données</p>
                    <strong class="project-title">
                        <span></span>
                        <a href="#" class="more-details">More details</a>
                    </strong>
                </div>
            </div>
            <div class="project-card">
                <div class="project-image">
                    <img src="images/work3.jpg" />
                </div>
                <div class="project-info">
                    <p class="project-category">Script Writing & Video Production</p>
                    <strong class="project-title">
                        <span>Dev Books</span>
                        <a href="#" class="more-details">More details</a>
                    </strong>
                </div>
            </div>
            <div class="project-card">
                <div class="project-image">
                    <img src="images/work4.jpg" />
                </div>
                <div class="project-info">
                    <p class="project-category">Script Writing & Video Production</p>
                    <strong class="project-title">
                        <span>Dev Books</span>
                        <a href="#" class="more-details">More details</a>
                    </strong>
                </div>
            </div>
            <div class="project-card">
                <div class="project-image">
                    <img src="images/work5.jpg" />
                </div>
                <div class="project-info">
                    <p class="project-category">Script Writing & Video Production</p>
                    <strong class="project-title">
                        <span>Dev Books</span>
                        <a href="#" class="more-details">More details</a>
                    </strong>
                </div>
            </div>
            <div class="project-card">
                <div class="project-image">
                    <img src="images/work6.jpg" />
                </div>
                <div class="project-info">
                    <p class="project-category">Script Writing & Video Production</p>
                    <strong class="project-title">
                        <span>Internet</span>
                        <a href="#" class="more-details">More details</a>
                    </strong>
                </div>
            </div>
        </div>
    </section>

    <section class="cards contact" id="contact">
        <h2 class="title">Let's work together</h2>
        <div class="content">
            <div class="card">
                <div class="icon">
                    <i class="fas fa-phone"></i>
                </div>
                <div class="info">
                    <h3>Phone</h3>
                    <p>+212621446429</p>
                </div>
            </div>
            <div class="card">
                <div class="icon">
                    <i class="fas fa-envelope"></i>
                </div>
                <div class="info">
                    <h3>Email</h3>
                    <p>idrissdfk@gmail.com</p>
                </div>
            </div>
        </div>
    </section>
    
    <footer class="footer">
        <p class="footer-title">by @ <span>Idriss Benfanich</span></p>
        <div class="social-icons">
            <a href="#"><i class="fab fa-facebook" style="color: #0156be;"></i></a>
            <a href="#"><i class="fab fa-twitter" style="color: #4e9eff;"></i></a>
            <a href="#"><i class="fab fa-instagram" style="color: deeppink;"></i></a>
            <a href="#"><i class="fab fa-whatsapp" style="color: rgb(3, 185, 76);"></i></a>
        </div>
    </footer>

</body>
</html>